:root {
    --color1: #37797C;
    --color2: #A25C32;
    --color3: #FF9A33;
    --color4: #00C0B7;
    --color5: #A25C32;
    --color6: #446D6E;
    --color7: #F9F9F6;
    --hover: #2F6B6E;


}

body {
    background-color: var(--color7);
    font-family: "Cairo";

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* start media*/
/*Small*/
@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*larger*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end media*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
}

/* Start Header */
header {
    /* position: fixed; */
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    transition: 0.3s;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle_menu {
    font-size: 45px;
    cursor: pointer;
}

@media (min-width: 768px) {
    header nav .toggle_menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: none;
    }

    header nav .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: rgb(0 0 0 /50%);
        color: #fff;
        text-align: right;
    }

    header nav .menu li:hover a {
        color: rgb(255, 255, 255);
    }

    header ul li a {
        color: rgb(255, 255, 255);
    }


    header nav ul li a {
        padding: 15px !important;
    }
}

ul a {
    display: block;
    color: var(--color1);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s all;
    padding: 30px 10px;
    position: relative;
    z-index: 2;
}

header nav a:hover {
    color: var(--color4);
    border-bottom: 1px solid var(--color4);
}

.btn1 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

.btn1:hover {
    background-color: var(--hover);
}

.login_menu {
    position: relative;
}

.menu_login {
    display: none;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    padding: 30px 5px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: none;
    box-shadow: 6px 5px 11px -9px;
    transition: 0.7s all;
    z-index: 3;
}

.menu_login p {
    margin: 10px 0;
}

.menu_login a {
    margin: 10px 15px;
    border-radius: 10px;
    background-color: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    width: 70%;
    padding: 7px 15px;
    height: 35px;
    text-decoration: none;
}
.menu_login a:hover {
    background-color: var(--hover);

}
.login_menu:hover .menu_login {
    display: flex;

}

/* End Header */
